In [3]:
import pickle
from pathlib import Path
import pandas as pd

In [4]:
sushmaDF = pd.read_csv(Path('../resources/SushmaSurvey.csv'))
sushmaDF

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A,gender,engnat,age,IE
0,5,5,1,5,2,2,5,2,1,3,...,1,3,4,4,4,3,2,2,35,2

In [9]:
X_test = sushmaDF.drop(columns = ['gender', 'engnat', 'age', 'IE'])
X_test

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q82A,Q83A,Q84A,Q85A,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A
0,5,5,1,5,2,2,5,2,1,3,...,1,2,2,2,1,3,4,4,4,3

In [10]:
y_test = sushmaDF['IE']
y_test

0    2
Name: IE, dtype: int64

In [11]:
filename = '../saved_models/IE_Predictor_model.sav'

loaded_model = pickle.load(open(filename, 'rb'))
loaded_model.score(X_test, y_test)

1.0

In [12]:
loaded_model.predict(X_test)

array([2], dtype=int64)