In [32]:
import pickle
from pathlib import Path
import pandas as pd

In [33]:
sushmaDF = pd.read_csv(Path('../resources/SushmaSurvey.csv'))
sushmaDF

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q83A,Q84A,Q85A,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A,IE
0,5,5,1,5,2,2,5,2,1,3,...,2,2,2,1,3,4,4,4,3,2

In [35]:
X_test = sushmaDF.drop(columns = ['IE'])
X_test

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q82A,Q83A,Q84A,Q85A,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A
0,5,5,1,5,2,2,5,2,1,3,...,1,2,2,2,1,3,4,4,4,3

In [36]:
y_test = sushmaDF['IE']
y_test

0    2
Name: IE, dtype: int64

In [37]:
filename = '../saved_models/IE_Predictor_model.sav'

loaded_model = pickle.load(open(filename, 'rb'))
loaded_model.score(X_test, y_test)

1.0

In [38]:
loaded_model.predict(X_test)[0]

2

In [39]:
imaginarySushmaDF = pd.read_csv(Path('../resources/ImaginarySushma.csv'))
imaginarySushmaDF

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q83A,Q84A,Q85A,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A,IE
0,3,4,5,3,4,5,5,5,5,5,...,5,5,5,4,5,3,2,1,1,1

In [40]:
X_test = imaginarySushmaDF.drop(columns = ['IE'])
X_test

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q82A,Q83A,Q84A,Q85A,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A
0,3,4,5,3,4,5,5,5,5,5,...,5,5,5,5,4,5,3,2,1,1

In [41]:
y_test = imaginarySushmaDF['IE']
y_test

0    1
Name: IE, dtype: int64

In [42]:
loaded_model.score(X_test, y_test)

1.0

In [43]:
loaded_model.predict(X_test)[0]

1

In [44]:
confusedSushmaDF = pd.read_csv(Path('../resources/ConfusedSushma.csv'))
confusedSushmaDF

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q83A,Q84A,Q85A,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A,IE
0,5,3,1,2,3,2,3,3,4,5,...,3,2,1,4,2,5,4,3,3,3

In [45]:
X_test = confusedSushmaDF.drop(columns = ['IE'])
X_test

,Q1A,Q2A,Q3A,Q4A,Q5A,Q6A,Q7A,Q8A,Q9A,Q10A,...,Q82A,Q83A,Q84A,Q85A,Q86A,Q87A,Q88A,Q89A,Q90A,Q91A
0,5,3,1,2,3,2,3,3,4,5,...,1,3,2,1,4,2,5,4,3,3

In [46]:
y_test = confusedSushmaDF['IE']
y_test

0    3
Name: IE, dtype: int64

In [47]:
loaded_model.score(X_test, y_test)

1.0

In [48]:
loaded_model.predict(X_test)[0]

3